<div class="dialog-content">
  <button mat-icon-button class="close-button" (click)="closeDialog()" aria-label="Cerrar diálogo">
    <mat-icon>close</mat-icon>
  </button>
  <h2>Sobre el Autor</h2>
  <p>Hola, soy <strong>José Daniel Rodríguez</strong>, un desarrollador Fullstack apasionado por resolver problemas y
    crear soluciones innovadoras.</p>
  <p>Este proyecto es una aplicación de lista de tareas desarrollada con Angular y Express, que utiliza Firebase para la
    autenticación y almacenamiento. Explora el código fuente en <a class="repo"
      href="https://github.com/jdanielrodriguez/atom-challenge" target="_blank" aria-label="GitHub Repo">
      mi repositorio de GitHub
    </a>.</p>
  <div class="social-links">
    <a href="https://github.com/jdanielrodriguez" target="_blank" aria-label="GitHub">
      <mat-icon>code</mat-icon> GitHub
    </a>
    <a href="https://linkedin.com/in/jdanielrodriguez/" target="_blank" aria-label="LinkedIn">
      <mat-icon>work</mat-icon> LinkedIn
    </a>
    <a href="https://facebook.com/deaniell6195/" target="_blank" aria-label="Facebook">
      <mat-icon>facebook</mat-icon> Facebook
    </a>
    <a href="https://josedanielrodriguez.com/" target="_blank" aria-label="Sitio Web">
      <mat-icon>language</mat-icon> Sitio Web
    </a>
  </div>
</div>
