<div class="task-detail-container">
  <h1>{{ isEditMode ? 'Editar Tarea' : 'Nueva Tarea' }}</h1>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="task-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" type="text" required />
      <mat-error *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched">
        Título es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" rows="3" required></textarea>
      <mat-error *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched">
        Descripción es requerida
      </mat-error>
    </mat-form-field>

    <mat-slide-toggle *ngIf="isEditMode" formControlName="completed" >
      {{ taskForm.get('completed')?.value ? 'Completada' : 'Pendiente'}}
    </mat-slide-toggle>

    <div class="actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid">
        {{ isEditMode ? 'Actualizar' : 'Crear' }}
      </button>
      <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>
