/infra/firebase/functions/node_modules
/infra/firebase/service-account.json
/infra/firebase/*debug*
*node_modules*
*.env
*.vscode
/apps/backend/service-account.json
*dist
apps/frontend/src/environments/environment.ts