.user-menu-container {
  position: relative;
  top: 1rem;
  left: 1rem;

  .user-menu-button {
    width: 4rem;
    height: 4rem;
    @media (max-width: 850px) {
      width: 3.5em;
      height: 3.5em;
    }
  }
}
